body{
    background-color: palevioletred;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#yea{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #04AA6D;
    color: black;
    border: none;
    font: 300;
    font-family: sans-serif;
    margin: 0px 5px;
    border-radius: 10px;
}
#yea:hover{
    opacity: 60%; 
    transition: 1s;
}
#nawr {
    text-decoration: none;
    font-size: 16px;
    padding: 15px 30px;
    background-color: red;
    color: black;
    border: none;
    font: 300;
    margin: 0px 5px;
    font-family: sans-serif;
    border-radius: 10px;
    
    z-index: 10;;
}

#nawr:hover {
    opacity: 53%;
    transition: 1s;
}

#mainHead{
    font: bold;
    font-family: sans-serif;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
}
#snoop{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 430px;
    height: 90vh;
    margin: 5px 0px;
}
.snoop-container{
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}


.tenor-gif-embed {
    pointer-events: none;
    
  }